<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ghidi.lumen"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="30" android:targetSdkVersion="30" />

    <uses-feature android:name="android.software.leanback" android:required="false" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
        </intent>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
    </queries>

    <application
        android:label="Lumen"
        android:theme="@style/LumenTheme"
        android:allowBackup="false">

        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:stateNotNeeded="true"
            android:screenOrientation="landscape"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AllAppsActivity"
            android:exported="false"
            android:screenOrientation="landscape" />

        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:screenOrientation="landscape" />

        <activity
            android:name=".AppsOnHomeActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
    </application>
</manifest>
